.listing-show {
    background-color: rgb(191, 130, 202);
    color: black;
    height: 700px;
    width: 100%;
}

.listing-show-text {
    color: black;
    background-color: blue;
}

.show-page-image {
    height: 300px;
}