.footer {
  display: flex;
  background-color: transparent;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  //   height: 70px;
  border-top: 1px solid;
  border-color: rgb(221, 221, 221);
  color: black;
  background-color: white;
}

.foot-links {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  font-size: 11.5px;
  height: 80px;
  font-weight: 500;
}

.foot-icons {
  font-size: 18px;
  letter-spacing: normal;
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // padding-right: 30px;
  height: 20px;
  width: 180px;
  height: 80px;
  padding-right: 15px;
}

.icon {
  color: black;
}

.foot-name {
  font-size: 12px;
}
